<div class="cargo-container">
  <div class="top-content-container">
    <div class="input-container">
      <%= form_with(url: cars_path, method: :get, html: { id: 'search-form' }) do |f| %>
        <%= f.text_field :query, placeholder: "Search by model or brand...", id:"search-model-input" %>
          <span class="clear-icon" 
          onclick="
          document.getElementById('search-model-input').value = '';
          window.location.reload();
          "
          >&#10006;</span>          
          <%= f.submit 'Search', id: 'search-submit', style: 'display: none;' %>
          <label for="search-submit" class="search-icon">&#128269;</label>
        <% end %>
    </div>
    <div class="thirdary-button"><%= link_to "Add a car", new_car_path, style: "text-decoration:none; color:white;"%></div>
  </div>
</div>

<% if @cars.present? %>
  <div class="title-with-image">
      <%= image_tag('icon-cars4', class:'car-chart-icon')%>
      <h3> Your collection </h3>
  </div>
<% elsif params[:query].present?  %>
  <div class="global-primary-container">
    <p>No data has been found.</p>
  </div>
  <% else %>
  <div class="primary-centered" style="margin-bottom: 2em;">
    <p>No car has been added yet.</p>
    <div class="thirdary-button"><%= link_to"Add a car", new_car_path, style:"text-decoration: none; color:white" %> </div>
  </div>
<% end %>

<% if @cars.present? %>
  <div class="global-primary-container" style= "margin-bottom: 10em; margin-top: 0;">
      <p><i>
          <%= @cars.present? ? "#{@cars.count} car(s)" : "No data found" %>
      </p></i>
    <div class="index-car-grid-container">

      <% @user.cars.each do |car| %>

        <div class="index-car-card">
        <%= cl_image_tag(car.photo.key, class: "car-index-image") %>

          <div class="bottom-index-card-content">

            <h3> <%= car.brand %> <%= car.model_specific_name %> </h3> 

            <div class="align-items">
              <p> Technical inspection : </p>
                <% if car.technical_control.valid_until >= Date.today %>
                    <%= image_tag("icon-valid", class: "small-icon")%> 
                    <% else %>
                    <%= image_tag("icon-invalid", class: "small-icon") %>
                <% end %> 
              </div>

              <div class="align-items">
                <p> Insurance : </p>
                <% if car.insurance.assured_until >= Date.today %>
                    <%= image_tag("icon-valid", class: "small-icon")%> 
                    <% else %>
                    <%= image_tag("icon-invalid", class: "small-icon") %>
                <% end %> 
              </div>

               <div class="align-items" style= "margin-bottom: 2em">
                <p> Maintainance needed : </p>
                <% if car.maintainance.maintainance_needed %>
                    <p style="color: red"><strong>Yes</strong></p>
                    <% else %>
                    <p>No</p>
                <% end %> 
              </div>

            <p>Last maintainance : <%= car.maintainance.last_repair_date.year %></p>
            
            <div class="icon-container">
                <div class="button-container">
                    <%= link_to image_tag("icon-go-to-white.svg"), car_url(car), class: "small-icon" %>
                </div>
            </div>

          </div>

        </div>
      <% end %>
    <% end %>
  </div>
    <div class="primary-centered" style="margin-top:2em;">
      <% if @reset_button %>
        <div class="thirdary-button"> <%= link_to "Reset", cars_path, style:"text-decoration: none; color:white;" %></div>
      <% end %>
    </div>
</div>
